html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

@font-face {
  font-family: 'Bahnschrift';
  src: url('/resources/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

a {
  font-family: 'Bahnschrift';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-decoration: none;
}

a:hover {
  color: blue;
  -webkit-text-stroke-color: blue;
}