
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

@font-face {
  font-family: 'Bahnschrift';
  src: url('/resources/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

@font-face {
  font-family: 'Alliance-no-1';
  src: url('/resources/fonts/Alliance-no1/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf') format('opentype');

}

body {
  padding: 25px 21px 21px 21px;
  height: 100%;
}


/* fonts */

.nav-mobile a, h1 {
  font-family: 'Bahnschrift';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-decoration: none;
}

#contact, #projects, #blog > p {

  font-family: 'Bahnschrift';
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;

  text-decoration: none;

}

h1{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

p {
  font-family: 'Bahnschrift';
  text-transform: uppercase;
}

main, section {
  width: 90vw;
  height: 100vh;
}

/* nav styling */

.nav-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  padding: 25px 21px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  transition: 0.25s ease-out;
}

/*  menu  dropdown for mobile, navbar for desktop */

.nav-desktop {
  display: none;
}

#dropdown-menu {
    /* when toggling visibility display value has to change
    between flex and none */
  display: none;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  align-items: center;
}


.dropdown-menu-item{
  margin-top: 2.5rem;
}

/* grid styling */

section {
  margin-top: 70px;
  row-gap: 10px;

  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  flex-flow: row;

  align-items: center;
  justify-items: center;

  text-transform: justify;

}

/* contact section styling */

.p {
  text-align: justify;
  margin: 0 auto;
  width: 30;
}

.contact-item{
  text-align: justify;
  text-align-last: center;
  line-height: 1.2;
}

.space {
  margin: 17px 0;
}

.logo {
  width: 182px;
  height: 182px;
  margin: 0 auto 32px;


}

img {
  width: 100%;
  height: auto;
}

/* projects styling */

#projects {
  height: 100vh;
}

.projects-container {
  height: 250px;
  width: 250px;
  margin: 51px 0 39px;

  border-radius: 15px;
  overflow: hidden;
}

.project {
  height: inherit;
  width: inherit;

}

.one {
  background-color: blue;
}

.two {
  background-color: tomato;
}

.three {
  background-color: orange;
}

/* footer: github & bubble page indicators */
.github-logo {
  width: 80px;

  position: fixed;
  bottom: 21px;
  left: 21px;
}

.nav-bubbles-container {
  width: 70px;
  height: 10px;

  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 31px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bubbles {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C4C4C4;
  
}

/* colors styling */
#burger-nav-button, hr {
  color: #7879f1;
  fill: #7879f1;
}

a:hover {
  color: #7879f1;
  -webkit-text-stroke-color: #7879f1;
}

@media screen and (min-width: 800px) {

  main {
    top: 140px;
    height: 85vh;

    display: grid;
    grid-template-rows: 10% 40% 10% 40%;
    grid-template-columns: repeat(4, 25%);
    position: relative;
  }

  .nav-desktop {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    top: 0;
    left: 0;
    position: absolute;

    font-family: 'Alliance-no-1';
    letter-spacing: 0.1rem;
    font-size: 1.15rem;

  }

  .purple-container {
    display: inline-block;
    background-color: #7879f1;
    width: 100px;
    height: 140px;
  }


  .purple-github-logo {
    display: block;
    width: 78px;
    height: 78px;

    margin: 15px auto 47px;
  }

  .nav-mobile, .footer-nav, #contact, #projects, #blog {
    display: none;

  }


}